[submodule "cyclonedds"]
	path = cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds
	branch = f7688ce709e53f408e30706ebc27bd052c03d693
[submodule "zephyr"]
	path = zephyr
	url = https://github.com/zephyrproject-rtos/zephyr
	branch = 339cd5a45fd2ebba064ef462b71c657336ca0dfe
[submodule "external/FreeRTOS-Kernel"]
	path = external/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "external/autoware_universe"]
	path = external/autoware_universe
	url = https://github.com/autowarefoundation/autoware.universe.git
[submodule "external/autoware_msgs"]
	path = external/autoware_msgs
	url = https://github.com/autowarefoundation/autoware_msgs.git
